header {
    /* height: 50px; */
    background: #efefef; 
    color: #333; 
    padding: 10px 5px;
    box-shadow: 0 0 10px #ccc;


    h2, .links {
        display: inline-block;
    }

    h2 {
        text-align: left; 
        padding-left: 2%; 
        width: 48%;
        margin: 0;
        @media (max-width:768px) {
            display: block;
            width: 95%;
        }
    }

    .links {
        text-align: right; 
        width: 48%;
        padding-right: 2%;
        overflow: hidden;
        transition: .2s all ease-in-out;
        
        .header-links {
            padding: 5px 10px;
            cursor: pointer; 
            font-weight: 700; 
            color: #333; 
            text-decoration: none; 
        }

        @media (max-width:768px) {
            display: block;
            width: 100%;
            text-align: center;
            height: 0;
            padding: 0;

        }
    }

    .mobile-menu {
        display: none; 
        height: 25px;
        width: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor:pointer;

        .bar {
            background: #333;
            margin: 12px 0;
            height: 4px;
            position: relative;
            border-radius: 4px;
            transition: .2s all ease-in-out;

            &:before {
                content: '';
                display: block;
                background: #333;
                height: 4px;
                width: 40px;
                border-radius: 4px;
                position: absolute;
                bottom: 10px;
                transition: .2s all ease-in-out;

            }

            &:after {
                content: '';
                display: block;
                background: #333;
                height: 4px;
                width: 40px;
                border-radius: 4px;
                position: absolute;
                top: 10px;
                transition: .2s all ease-in-out;

            }
        }

        @media (max-width:768px) {
            display: block;
        }
    }


    &.is-open {
        .links {
            height: auto;
            margin-top: 15px;
        }

        .mobile-menu {
            .bar {
                background: transparent;
                
                &:before {
                    transform: rotate(45deg);
                    bottom: 0;
                }

                &:after {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }
}
